.about {
  &-head {
    img {
      width: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
    @include pc {
      margin-top: calc(60vw / (1280 / 100));
      gap: calc(40vw / (1280 / 100));
    }
    dl {
      dt {
        padding: 0 0 8px 2rem;
        color: $primaryMain;
        font-family: "小塚ゴシック Pr6N", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 42px;
        font-weight: 600;
        border-bottom: 6px solid $primaryMain;
        @include pc {
          padding: 0 0 calc(8vw / (1280 / 100)) 2rem;
          font-size: calc(42vw / (1280 / 100));
          border-bottom: calc(6vw / (1280 / 100)) solid $primaryMain;
        }
        @include tab {
          padding: 0 calc(20vw / (768 / 100));
          font-size: calc(42vw / (768 / 100));
        }
        @include sp {
          font-size: calc(28vw / (440 / 100));
        }
      }
      dd {
        margin-top: 8px;
        padding: 0 80px 0 2rem;
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.04rem;
        @include pc {
          margin-top: calc(8vw / (1280 / 100));
          padding: 0 calc(80vw / (1280 / 100)) 0 2rem;
          font-size: calc(20vw / (1280 / 100));
        }
        @include tab {
          padding: 0 calc(20vw / (768 / 100));
          font-size: calc(18vw / (768 / 100));
        }
        @include sp {
          font-size: calc(16vw / (440 / 100));
        }
      }
    }
  }
}
