@import "mixin";

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: #888;
  }
}

li {
  list-style-type: none;
}

body {
  font-variant-ligatures: none;
  font-family: "小塚明朝 Pr6N", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", serif;
  overflow-x: hidden;
  color: $black;
  font-weight: 500;
}

main {
  padding: 42px 0 60px;
  @include pc {
    padding: calc(42vw / (1280 / 100)) 0 calc(60vw / (1280 / 100));
  }
  @include tab {
    padding: calc(120vw / (768 / 100)) 0 calc(60vw / (768 / 100));
  }
}

.gothic {
  font-family: "小塚ゴシック Pr6N", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.pc {
  display: block !important;
  @include tab {
    display: none !important;
  }
}

.tab {
  display: none !important;
  @include tab {
    display: block !important;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  @include center;
  padding: 0 40px;
  @include pc {
    padding: 0 calc(40vw / (1280 / 100));
  }
  @include tab {
    padding: 0;
  }
}

.tabContainer {
  @include tab {
    padding: 0 calc(20vw / (768 / 100));
  }
}

.flex {
  @include flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  @include flex-center;
}

.flex-around {
  @include flex-around;
}

.page-title {
  @include flex-center;
  justify-content: flex-start;
  padding: 16px 22px;
  gap: 8px;
  color: $primaryMain;
  font-size: 40px;
  font-weight: 600;
  background: #fff;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
  @include pc {
    padding: calc(16vw / (1280 / 100)) calc(22vw / (1280 / 100));
    gap: calc(8vw / (1280 / 100));
    font-size: calc(40vw / (1280 / 100));
    box-shadow: 0 0 calc(8vw / (1280 / 100)) rgba($color: #000000, $alpha: 0.3);
  }
  @include tab {
    justify-content: center;
    padding: calc(16vw / (768 / 100)) 0;
    color: #fff;
    font-size: calc(28vw / (768 / 100));
    background: $primaryMain;
  }
  @include sp {
    font-size: calc(24vw / (440 / 100));
  }
  &::before {
    content: "";
    width: 32px;
    height: 34px;
    background: url(../images/arrow-primary.png) no-repeat;
    background-size: 100%;
    @include pc {
      width: calc(32vw / (1280 / 100));
      height: calc(34vw / (1280 / 100));
    }
    @include tab {
      display: none;
    }
  }
}

.main__wrap {
  @include flex-center;
  align-items: flex-start;
  gap: 60px;
  @include pc {
    gap: calc(60vw / (1280 / 100));
  }
  &-inner {
    width: 65%;
    @include tab {
      width: 100%;
    }
  }
  &-side {
    width: 20%;
    @include tab {
      display: none;
    }
  }
}
