$black: #232323;
$primaryLight: #d7e2ff;
$primaryMain: #3d58a0;
// $primaryDark: #2b3e71;
// $secondaryLight: #ff6a6a;
$secondaryMain: #ff0000;
// $secondaryDark: #b40202;

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

$lg: 1700px;
$pc: 1280px;
$tab: 768px;
$sp: 440px;

@mixin lg {
  @media (max-width: ($lg)) {
    @content;
  }
}

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
