.recruit {
  &__list {
    @include flex;
    margin-top: 28px;
    gap: 4px 0;
    @include pc {
      margin-top: calc(28vw / (1280 / 100));
      gap: calc(4vw / (1280 / 100)) 0;
    }
    @include tab {
      position: relative;
      margin-top: 0;
      gap: 0;
      z-index: 1;
    }
    li {
      width: 33%;
      color: #fff;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.02rem;
      background: $primaryMain;
      @include pc {
        font-size: calc(18vw / (1280 / 100));
      }
      @include tab {
        width: 50%;
        color: $primaryMain;
        font-size: calc(18vw / (768 / 100));
        font-weight: 600;
        text-align: left;
        background: #f7f7f7;
        border-right: calc(2vw / (768 / 100)) solid $primaryMain;
        border-bottom: calc(2vw / (768 / 100)) solid $primaryMain;
      }
      @include sp {
        font-size: calc(16vw / (440 / 100));
      }
      a {
        display: block;
        padding: 22px 0;
        @include pc {
          padding: calc(22vw / (1280 / 100)) 0;
        }
        @include tab {
          padding: calc(22vw / (768 / 100)) 0 calc(22vw / (768 / 100)) calc(20vw / (768 / 100));
        }
      }
    }
  }
  &__contents {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding-top: 32px;
    gap: 40px;
    border-top: 4px solid $primaryMain;
    @include pc {
      margin-top: calc(24vw / (1280 / 100));
      padding-top: calc(32vw / (1280 / 100));
      gap: calc(40vw / (1280 / 100));
      border-top: calc(4vw / (1280 / 100)) solid $primaryMain;
    }
    @include tab {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
    li {
      @include tab {
        margin-top: calc(-92vw / (768 / 100));
        padding-top: calc(92vw / (768 / 100));
      }
    }
    h3 {
      display: flex;
      align-items: center;
      padding-bottom: 4px;
      font-size: 32px;
      font-weight: 600;
      border-bottom: 3px dotted $primaryMain;
      @include pc {
        padding-bottom: calc(4vw / (1280 / 100));
        font-size: calc(32vw / (1280 / 100));
        border-bottom: calc(3vw / (1280 / 100)) dotted $primaryMain;
      }
      @include tab {
        padding-top: calc(18vw / (768 / 100));
        padding-left: calc(12vw / (768 / 100));
        font-size: calc(26vw / (768 / 100));
        border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-bottom: none;
      }
      @include sp {
        font-size: calc(22vw / (440 / 100));
      }
      &::before {
        content: "";
        border-top: 13px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 20px solid $primaryMain;
        @include pc {
          border-top: calc(13vw / (1280 / 100)) solid transparent;
          border-right: calc(20vw / (1280 / 100)) solid transparent;
          border-bottom: calc(13vw / (1280 / 100)) solid transparent;
          border-left: calc(20vw / (1280 / 100)) solid $primaryMain;
        }
        @include tab {
          border-top: calc(13vw / (768 / 100)) solid transparent;
          border-right: calc(20vw / (768 / 100)) solid transparent;
          border-bottom: calc(13vw / (768 / 100)) solid transparent;
          border-left: calc(20vw / (768 / 100)) solid $primaryMain;
        }
      }
    }
    &__desc {
      margin-top: 16px;
      @include pc {
        margin-top: calc(16vw / (1280 / 100));
      }
      dl {
        @include flex;
        &:nth-of-type(1) {
          dt {
            border-top: none;
          }
          dd {
            border-top: 1px solid #eee;
          }
        }
        dt,
        dd {
          padding: 16px 1rem;
          font-size: 20px;
          line-height: 1.4;
          @include pc {
            padding: calc(16vw / (1280 / 100)) 1rem;
            font-size: calc(20vw / (1280 / 100));
          }
          @include tab {
            padding: calc(12vw / (768 / 100)) calc(20vw / (768 / 100));
            font-size: calc(18vw / (768 / 100));
          }
          @include sp {
            padding: calc(12vw / (440 / 100)) calc(12vw / (440 / 100));
            font-size: calc(16vw / (440 / 100));
          }
        }
        dt {
          width: 30%;
          color: #fff;
          text-align: center;
          border-top: 1px solid #fff;
          background: $primaryMain;
          @include tab {
            width: 100%;
            text-align: left;
            border-top: none;
          }
        }
        dd {
          width: 70%;
          border-bottom: 1px solid #eee;
          border-right: 1px solid #eee;
          @include tab {
            width: 100%;
            border-bottom: none;
            border-right: none;
          }
          .flex {
            display: block;
            @include tab {
              position: relative;
              @include flex;
              z-index: 1;
            }
            div {
              @include tab {
                width: 48%;
              }
              a {
                @include tab {
                  display: inline-block;
                  width: 100%;
                  padding: calc(18vw / (768 / 100)) 0;
                  color: $primaryMain;
                  text-align: center;
                  background: #f7f7f7;
                  border: 1px solid $primaryMain;
                }
              }
            }
          }
        }
      }
    }
  }
}
