.contact {
  max-width: 880px;
  margin: 60px auto;
  padding: 16px 0;
  border: 1px solid #eaeaea;
  @include pc {
    margin: calc(60vw / (1280 / 100)) auto;
    padding: calc(16vw / (1280 / 100)) 0;
  }
  @include tab {
    margin-top: calc(-32vw / (768 / 100));
    padding-top: calc(92vw / (768 / 100));
  }
  &-title {
    margin: 0 10%;
    padding-bottom: 12px;
    font-size: 48px;
    text-align: center;
    border-bottom: 2px solid #888;
    @include pc {
      padding-bottom: calc(12vw / (1280 / 100));
      font-size: calc(48vw / (1280 / 100));
    }
  }
  &-form {
    padding: 60px 10%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 52px 0;
  font-size: 22px;
  text-align: left;
  @include pc {
    gap: calc(52vw / (1280 / 100)) 0;
    font-size: calc(22vw / (1280 / 100));
  }
  @include tab {
    gap: calc(26vw / (768 / 100));
    font-size: calc(22vw / (768 / 100));
  }
  @include sp {
    gap: calc(22vw / (440 / 100));
    font-size: calc(18vw / (440 / 100));
  }

  .text02 {
    display: none;
  }

  .error {
    display: block;
    position: absolute;
    top: 81%;
    left: 41%;
    width: 100%;
    color: red;
    box-sizing: border-box;
    @include tab {
      top: 84%;
      left: 0;
    }
  }
  .hissu {
    position: relative;
    &::after {
      content: "※";
      margin-left: -4px;
      padding: 6px 10px;
      color: $secondaryMain;
      font-size: 22px;
      border-radius: 8px;
      @include pc {
        margin-left: calc(-4vw / (1280 / 100));
        padding: calc(6vw / (1280 / 100)) calc(10vw / (1280 / 100));
        font-size: calc(22vw / (1280 / 100));
        border-radius: calc(8vw / (1280 / 100));
      }
      @include sp {
        font-size: calc(18vw / (440 / 100));
      }
    }
  }

  .box {
    .form-confirm {
      padding-bottom: 40px;
      text-align: center;
      line-height: 1.5;
      h4 {
        font-size: 28px;
        padding-bottom: 10px;
      }
    }
  }

  &-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 3%;
    @include tab {
      align-items: flex-start;
      flex-direction: column;
      gap: calc(2vw / (768 / 100));
      padding: 6% 0;
    }
    &-label {
      width: 35%;
      padding: 8px 0;
      letter-spacing: 0.2rem;
      @include pc {
        padding: calc(8vw / (1280 / 100)) 0;
      }
      @include tab {
        width: 100%;
        text-align: center;
      }
      &-text {
        width: 100px;
        @include pc {
          width: calc(100vw / (1280 / 100));
        }
      }
    }

    input {
      position: relative;
      width: 60%;

      // width: 100%;
      padding: 8px 12px;
      border: 1px solid #000;
      border-radius: 4px;
      @include pc {
        padding: calc(8vw / (1280 / 100)) calc(12vw / (1280 / 100));
        border-radius: calc(4vw / (1280 / 100));
      }
      @include tab {
        width: 100%;
        padding: calc(8vw / (768 / 100)) calc(12vw / (768 / 100));
        border-radius: calc(4vw / (768 / 100));
        text-align: left;
      }
    }

    textarea {
      width: 100%;
      height: 260px;
      padding: 8px 12px;
      border: 1px solid #000;
      border-radius: 4px;
      resize: none;
      @include pc {
        height: calc(260vw / (1280 / 100));
        padding: calc(8vw / (1280 / 100)) calc(12vw / (1280 / 100));
        border-radius: calc(4vw / (1280 / 100));
      }
      @include tab {
        height: calc(340vw / (768 / 100));
        border-radius: calc(4vw / (768 / 100));
      }
    }
  }
  &-textarea {
    flex-direction: column;
    label {
      margin-right: auto;
      padding-bottom: 2%;
    }
    input {
      width: 100%;
    }
  }
  &-desc {
    text-align: center;
    span {
      color: $secondaryMain;
    }
  }
  &-submit {
    position: relative;
    margin: 34px auto 0;
    text-align: center;
    @include pc {
      margin: calc(34vw / (1280 / 100)) auto 0;
    }
    @include tab {
      margin: calc(40vw / (768 / 100));
    }
    input {
      position: relative;
      width: 100%;
      padding: 18px 32px;
      color: #fff;
      font-size: 26px;
      line-height: 1;
      letter-spacing: 0.3rem;
      text-align: center;
      border-radius: 2px;
      background: #666;
      box-shadow: 6px 6px 6px #999999;
      cursor: pointer;
      @include pc {
        padding: calc(18vw / (1280 / 100)) calc(32vw / (1280 / 100));
        font-size: calc(26vw / (1280 / 100));
        border-radius: calc(2vw / (1280 / 100));
      }
      @include tab {
        padding: calc(18vw / (768 / 100)) calc(28vw / (768 / 100));
        font-size: calc(36vw / (768 / 100));
      }
      &:hover {
        top: -4px;
        box-shadow: 9px 9px 8px #999999;
      }
      &:active {
        top: 4px;
        box-shadow: none;
      }
    }
  }
}

/********************************************
* Now Loading
********************************************/
#form-load {
  display: none;
}
.loader {
  margin: 0 auto;
  border: 12px solid #fafafa;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load1 {
  animation: sk-scaleout 1s infinite ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 201;
  text-align: center;
  background-color: #b1b1b1;
  color: #ffffff;
  opacity: 0.8;
  width: 800px;
  p {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
}
